<template>
  <div id="app">
    <Navbar />
    <main>
      <b-container>
        <transition>
          <router-view></router-view>
        </transition>
      </b-container>
    </main>
    <vue-snotify></vue-snotify>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">{{ $t('footer.made_by') }}</span>
      </div>
    </footer>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar';
import fetchStory from '@/api/fetch';

export default {
  name: 'app',
  components: {
    Navbar,
  },
  created() {
    this.getUser();
  },
  methods: {
    getUser() {
      fetchStory('/user', this.$store).then((data) => {
        this.user = data.account;
        this.$store.commit('LOAD_USER', this.user);
      }).catch((err) => {
        console.log(err);
      });
    },
  },
};
</script>

<style>
html {
  position: relative;
  min-height: 100%;
}
.footer {
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

#app > main {
  min-height: calc(100vh - 60px - 100px);
}

body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  margin-top: 40px;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}
</style>
