<template>
  <div>
    <b-jumbotron :header="$t('storia.app_name')" :lead="$t('storia.desc')">
      <b-btn :to="{ name: 'Stories' }" variant="outline-secondary">{{ $t('home.buttons.view_stories') }}</b-btn>
      <b-btn v-if="$store.state.user" variant="outline-success" :to="{ name: 'NewStory' }">{{ $t('home.buttons.add_story') }}</b-btn>
      <b-btn v-if="!$store.state.user" variant="outline-primary" :to="{ name: 'Login' }">{{ $t('home.buttons.login') }}</b-btn>
      <b-btn v-if="!$store.state.user" variant="outline-secondary" :to="{ name: 'Register' }">{{ $t('home.buttons.register') }}</b-btn>
    </b-jumbotron>
    <b-row>
      <b-col>
        <h2>{{ $t('home.columns.whats.title') }}</h2>
        <p>{{ $t('home.columns.whats.paragraph') }}</p>
        <p v-html="$t('home.columns.whats.example')"></p>
        <p v-html="$t('home.columns.whats.sources')"></p>
        <h5>{{ $t('home.columns.why_name.title') }}</h5>
        <p>{{ $t('home.columns.why_name.paragraph') }}</p>
        <h5>{{ $t('home.columns.what_uses.title') }}</h5>
        <p v-html="$t('home.columns.what_uses.paragraph')"></p>
      </b-col>
      <b-col>
        <h2>{{ $t('home.columns.what_stories.title') }}</h2>
        <p>{{ $t('home.columns.what_stories.paragraph') }}</p>
        <p>{{ $t('home.columns.what_stories.sources_list.paragraph') }}</p>
        <ul>
          <li>{{ $t('home.columns.what_stories.sources_list.elements.twitter') }}</li>
          <li>{{ $t('home.columns.what_stories.sources_list.elements.youtube') }}</li>
          <li>{{ $t('home.columns.what_stories.sources_list.elements.facebook') }}</li>
          <li>{{ $t('home.columns.what_stories.sources_list.elements.opengraph') }}</li>
          <li v-html="$t('home.columns.what_stories.sources_list.elements.basic')"></li>
        </ul>
        <p>{{ $t('home.columns.what_stories.sources_list.more') }}</p>
        <h5>{{ $t('home.columns.what_stories.import.title') }}</h5>
        <p>{{ $t('home.columns.what_stories.import.paragraph') }}</p>
        <ul>
          <li>{{ $t('home.columns.what_stories.import.sources.storify') }}</li>
          <li>{{ $t('home.columns.what_stories.import.sources.twitter') }}</li>
        </ul>
      </b-col>
      <b-col>
        <h2>{{ $t('home.columns.more_questions.title') }}</h2>
        <h5>{{ $t('home.columns.more_questions.why.title') }}</h5>
        <p v-html="$t('home.columns.more_questions.why.paragraph')"></p>
        <h5>{{ $t('home.columns.more_questions.when.title') }}</h5>
        <p>{{ $t('home.columns.more_questions.when.paragraph') }}</p>
        <h5>{{ $t('home.columns.more_questions.who.title') }}</h5>
        <p v-html="$t('home.columns.more_questions.who.paragraph')"></p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {};
  },
};
</script>
