<template>
  <b-navbar toggleable="md" type="dark" variant="info">

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand :to="{ name: 'Home' }">{{ $t('storia.app_name') }} <sup>BETA</sup></b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">

      <b-navbar-nav>
        <b-nav-item :to="{ name: 'Stories' }">{{ $t('navbar.browse') }}</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="$store.state.user">
        <b-nav-item :to="{ name: 'NewStory' }">{{ $t('navbar.new') }}</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="$store.state.user">
        <b-nav-item :to="{ name: 'ImportStorify' }">{{ $t('navbar.import_from_storify') }} <sup>NEW !</sup></b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="$store.state.user">
        <b-nav-item :to="{ name: 'ImportTwitter' }">{{ $t('navbar.import_from_twitter') }} <sup>NEW !</sup></b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">

        <b-nav-form @submit="search">
          <b-form-input size="sm" class="mr-sm-2" type="text" :placeholder="$t('navbar.search')" v-model="search_term"/>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">{{ $t('navbar.search') }}</b-button>
        </b-nav-form>

        <!--<b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>-->

        <b-nav-item-dropdown right v-if="$store.state.user">
          <!-- Using button-content slot -->
          <template slot="button-content">
            <em>{{ $store.state.user.username }}</em>
          </template>
          <b-dropdown-item :to="{ name: 'Profile', params: { slug: $store.state.user.slug } }">{{ $t('navbar.profile') }}</b-dropdown-item>
          <b-dropdown-item @click="signOut">{{ $t('navbar.sign_out') }}</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
</template>

<script>
import auth from '@/auth';

export default {
  name: 'Navbar',
  data() {
    return {
      user: {
        username: '',
      },
      search_term: '',
    };
  },
  methods: {
    search(evt) {
      evt.preventDefault();
      if (this.search_term !== '') {
        return this.$router.push({ name: 'Search', params: { search_term: this.search_term } });
      }
      return null;
    },
    signOut() {
      auth.logout();
      this.$store.commit('LOGOUT_USER');
      this.$snotify.info('You have been logged out');
      this.user = null;
    },
  },
};
</script>
