<template>
  <div>
    <vue-simple-spinner size="big" message="Loading..." v-if="loading"></vue-simple-spinner>
    <div v-if="stories.length > 0">
      <div>
        <b-card-group columns v-if="!loading">
          <b-card v-for="story in stories" :title="story.title"
                  tag="article"
                  :key="story.id"
                  :img-src="image_url(story)"
          >
            <p class="card-text">
              {{ story.description }}
            </p>
            <p class="card-text"><small class="text-muted">{{ $t('story.last_updated_on', {time: from(story.updated_at)}) }}</small></p>
            <b-button :to="{ name: 'Story', params: { slug: story.slug } }" variant="primary">{{ $t('story.view_story') }}</b-button>
          </b-card>
        </b-card-group>
      </div>
      <b-pagination v-if="!loading" align="center" :total-rows="page.total_entries" v-model="page.page_number" :per-page="page.page_size" />
    </div>
    <div v-else>
      <h2>{{ $t('story.no_stories') }}</h2>
      <b-button :to="{ name: 'NewStory' }">{{ $t('story.create_story') }}</b-button>
    </div>
  </div>
</template>

<script>
import fetchStory from '@/api/fetch';
import VueSimpleSpinner from 'vue-simple-spinner';
import { API_HOST } from '@/api/_entrypoint';

export default {
  name: 'Stories',
  components: {
    VueSimpleSpinner,
  },
  mounted() {
    this.fetchData();
  },
  data() {
    return {
      stories: [],
      page: { page_number: 1 },
      loading: true,
      prefix: API_HOST,
    };
  },
  computed: {
    page_number() { return this.page.page_number; },
  },
  watch: {
    page_number() {
      this.fetchData();
    },
  },
  methods: {
    fetchData() {
      fetchStory(`/stories?page=${this.page.page_number}`, this.$store).then((response) => {
        this.stories = response.stories;
        this.page = response.page;
        this.loading = false;
      });
    },
    image_url(story) {
      return story.media ? `${this.prefix}/files/${story.media.uuid}` : null;
    },
    from(date) {
      return this.$options.filters.moment(date, 'from');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
