<template>
  <b-container>
    <b-jumbotron header="Storify import" lead="You can import from Storify by providing the link of the story or your username.">
      <p>Note that the Storify service <q>will no longer be available after May 16, 2018</q>, which means you should definitely save your content before this date.</p>
    </b-jumbotron>
    <b-row>
      <b-card-group deck>
        <b-card title="Import from Storify profile name">
          <p><icon name="user-o"></icon> Only published publicly available stories can be imported. You can choose which stories will be imported.</p>
          <b-button :to="{ name: 'ImportStorifyProfile' }" variant="primary">Import multiple stories</b-button>
        </b-card>
        <b-card title="Import from Storify URL">
          <p><icon name="link"></icon> Import only one story at a time. You just need to paste the URL of your Story</p>
          <b-button :to="{ name: 'ImportStorifyURL' }" variant="primary">Import one story</b-button>
        </b-card>
      </b-card-group>
    </b-row>
  </b-container>
</template>
<script>
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/user-o';
import 'vue-awesome/icons/link';

export default {
  name: 'ImportStorify',
  components: {
    Icon,
  },
};
</script>
