<template>
  <div>
    <b-card bg-variant="light" border-variant="dark">
      <b-row>
        <b-col>
          <b-form-group label="Title">
            <b-form-input v-model="story.title" placeholder="Enter title" />
          </b-form-group>
          <!--<router-link :to="{ name: 'Profile', params: { slug: story.user.slug } }">
            <b-row>
              <b-col cols="12" md="auto" v-if="story.user.avatar">
                <b-img height="50" :src="avatar_url(story.user)" rounded="circle"></b-img>
              </b-col>
              <b-col>
                <span>{{ story.user.display_name }}</span><br v-if="story.user.display_name" />
                <span class="story-author">@{{ story.user.username }}</span><span class="story-date"></span>
              </b-col>
            </b-row>
          </router-link>-->
          <b-form-group label="Description">
            <b-form-textarea id="descinput"
                        type="text"
                        v-model="story.description"
                        placeholder="Enter description (facultative)" />
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Publish date">
            <b-row>
              <b-col>
                <input type="date" class="form-control" v-model="published_at.date" />
              </b-col>
              <b-col>
                <input type="time" class="form-control" v-model="published_at.time" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>
      <div class="container">
        <draggable v-model="story.elements.entries">
          <transition-group>
            <div class="element" v-for="(element, index) in story.elements.entries" :key="element.id">
              <tweet :tweet="element.data" v-if="element.type === 'tweet'" :key="element.id" />
              <text-card :text="element.data" v-else-if="element.type === 'text'" :key="element.id" />
              <open-graph :opengraph="element.data" v-else-if="element.type === 'opengraph'" :key="element.id" />
              <you-tube :youtube="element.data" v-else-if="element.type === 'youtube'" :key="element.id" />
              <basic :metadata="element.data" v-else-if="element.type === 'basic'" :key="element.id" />
              <div v-else-if="element.type === 'loading'">
                <vue-simple-spinner size="big" message="Loading..." />
                <b-button variant="outline-danger" size="sm" @click="removeElement(element)"><icon name="trash"></icon> Cancel</b-button>
              </div>
              <new-element v-else-if="element.type === 'new'" :saveElement="saveElement" :removeElement="removeElement" :element="element" />
              <span v-else>Something wrong happened : type {{ element.type }}</span>
              <div v-if="showActionButtons">
                <b-button variant="outline-primary" size="sm" @click="editElement(element)"><icon name="edit"></icon> Edit</b-button>
                <b-button variant="outline-danger" size="sm" @click="removeElement(element)"><icon name="trash"></icon> Remove</b-button>
                <b-button variant="outline-success" size="sm" slot="footer" @click="toggleAddElement(index + 1)"><icon name="plus"></icon> Add an element</b-button>
              </div>
            </div>
          </transition-group>
        </draggable>
      </div>
      <div class="row justify-content-center">
        <b-button @click="confirmDeleteStory" class="m-2" variant="outline-danger" v-if="story.user.id === $store.state.user.id">Supprimer</b-button>
        <b-button class="m-2" @click="$router.back()" variant="outline-secondary">Cancel</b-button>
        <b-button :disabled="story.elements.entries.length < 2" class="m-2" @click="onSubmit" variant="outline-success">Submit</b-button>
      </div>
      <b-modal ref="deleteModal" hide-footer title="Do you really want to delete this story ?">
        <div class="d-block text-center">
          <h3>{{ story.title }} will be deleted</h3>
        </div>
        <b-btn class="mt-3" variant="outline-danger" block @click="deleteStory()">Delete Story</b-btn>
      </b-modal>
    </b-card>
    <vue-simple-spinner size="big" message="Loading..." v-if="showLoading"></vue-simple-spinner>
  </div>
</template>

<script>
  import fetchStory from '@/api/fetch';
  import VueSimpleSpinner from 'vue-simple-spinner';
  import draggable from 'vuedraggable';
  import moment from 'moment';

  import Tweet from '@/components/story/cards/tweet';
  import TextCard from '@/components/story/cards/textcard';
  import OpenGraph from '@/components/story/cards/opengraph';
  import Basic from '@/components/story/cards/basic';
  import YouTube from '@/components/story/cards/youtube';
  import NewElement from '@/components/story/cards/newelement';

  import Icon from 'vue-awesome/components/Icon';
  import 'vue-awesome/icons/edit';
  import 'vue-awesome/icons/trash';
  import 'vue-awesome/icons/plus';

  export default {
    name: 'Story',
    props: ['slug'],
    components: {
      VueSimpleSpinner, Icon, draggable, Tweet, TextCard, OpenGraph, YouTube, Basic, NewElement,
    },
    created() {
      if (this.slug) {
        this.fetchData(this.slug);
      }
    },
    mounted() {
      if (!this.slug) {
        this.showLoading = false;
      }
    },
    computed: {
      showActionButtons() {
        return this.story.elements.entries.every(element => !['new', 'edit', 'loading'].includes(element.type));
      },
    },
    data() {
      return {
        showLoading: true,
        published_at: {
          date: null,
          time: null,
        },
        story: {
          id: null,
          title: '',
          description: '',
          elements: {
            entries: [],
          },
          media: null,
          user: {
            username: '',
            id: null,
          },
          published_at: null,
        },
      };
    },
    methods: {
      fetchData(slug) {
        fetchStory(`/stories/${slug}/all`, this.$store).then((response) => {
          console.log(response.story);
          this.story = response.story;
          this.showLoading = false;
          const date = moment(this.story.published_at);
          this.published_at = { time: date.format('HH:mm'), date: date.format('YYYY-MM-DD') };
          console.log('parsing date');
          console.log(date);
          console.log(this.published_at.date);
        });
      },
      onSubmit(evt) {
        evt.preventDefault();
        console.log('called on submit');

        if (this.story.elements.entries.length === 0) {
          this.showEmptyBodyModal();
          return;
        }

        console.log('Datetimes');
        console.log(this.published_at.date);
        console.log(this.published_at.time);

        const storyToBeSent = {
          title: this.story.title,
          description: this.story.description,
          body: this.story.body,
          media: this.story.media,
          published_at: `${this.published_at.date}T${this.published_at.time}:00Z`,
        };
        this.showLoading = true;

        fetchStory(`/stories/${this.slug}`, this.$store, { method: 'PATCH', body: JSON.stringify({ story: storyToBeSent }) })
          .then((response) => {
            console.log(response.story);
            this.story = response.story;
            this.showLoading = false;
          });
      },
      avatar_url(user) {
        if (user.avatar.startsWith('http')) {
          return user.avatar;
        }
        return `${this.prefix}/files/${user.avatar}`;
      },
      confirmDeleteStory() {
        this.$refs.deleteModal.show();
      },
      deleteStory() {
        fetchStory(`/stories/${this.story.slug}`, this.$store, { method: 'DELETE' }).then(() => {
          this.$refs.deleteModal.hide();
          this.$router.push({ name: 'Stories' });
        });
      },
      removeElement(element) {
        this.story.elements.entries = this.story.elements.entries.filter(
          elementFromElements => elementFromElements !== element,
        );
      },
      editElement(element) {
        console.log(element);
      },
      toggleAddElement(index) {
        this.story.elements.entries.splice(index, 0, { type: 'new', id: 'new' });
      },
      saveElement(elementParam, text) {
        const element = elementParam;
        element.type = 'loading';
        const index = this.story.elements.entries.indexOf(element);

        const regex = new RegExp(/(http(s)?:\/\/.)(www\.)?[-a-zA-Z0-9@:%._+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_+.~#?&//=]*)/gi);
        const valid = text.match(regex);
        const type = valid ? 'url' : 'text';

        fetchStory('/elements', this.$store, { method: 'POST', body: JSON.stringify({ data: text, type }) })
          .then((response) => {
            this.story.elements.entries.splice(index, 1, response);
          });
      },
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .auto-textarea-wrapper .auto-textarea-input pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
</style>
<style>
  .v-note-wrapper {
    z-index: 0 !important;
  }
</style>
