<template>
  <div>
    <b-form @submit="onSubmit">
      <b-form-group id="titlegroup"
                    label="Title of your story"
                    description="Be unique ! (Just kidding, we have a slug system)">
        <b-form-input id="titleinput"
                      type="text"
                      v-model="story.title"
                      required
                      placeholder="Enter title">
        </b-form-input>
      </b-form-group>
      <b-form-group id="descgroup"
                    label="Description of your story"
                    description="Be short and consise">
        <b-form-input id="descinput"
                      type="text"
                      v-model="story.description"
                      placeholder="Enter description (facultative)">
        </b-form-input>
      </b-form-group>
      <b-button v-if="showActionButtons" variant="outline-success" size="sm" slot="footer" @click="toggleAddElement(0)"><icon name="plus"></icon> Add an element</b-button>
      <div class="element" v-for="(element, index) in elements">
        <tweet :tweet="element.data" v-if="element.type === 'tweet'" :key="element.id" />
        <text-card :text="element.data" v-else-if="element.type === 'text'" :key="element.id" />
        <open-graph :opengraph="element.data" v-else-if="element.type === 'opengraph'" :key="element.id" />
        <you-tube :youtube="element.data" v-else-if="element.type === 'youtube'" :key="element.id" />
        <basic :metadata="element.data" v-else-if="element.type === 'basic'" :key="element.id" />
        <div v-else-if="element.type === 'loading'">
          <vue-simple-spinner size="big" message="Loading..." />
          <b-button variant="outline-danger" size="sm" @click="removeElement(element)"><icon name="trash"></icon> Cancel</b-button>
        </div>
        <new-element v-else-if="element.type === 'new'" :saveElement="saveElement" :removeElement="removeElement" :element="element" />
        <span v-else>Something wrong happened : type {{ element.type }}</span>
        <div v-if="showActionButtons">
          <b-button variant="outline-primary" size="sm" @click="editElement(element)"><icon name="edit"></icon> Edit</b-button>
          <b-button variant="outline-danger" size="sm" @click="removeElement(element)"><icon name="trash"></icon> Remove</b-button>
          <b-button variant="outline-success" size="sm" slot="footer" @click="toggleAddElement(index + 1)"><icon name="plus"></icon> Add an element</b-button>
        </div>
      </div>
      <div class="row justify-content-center">
        <b-button class="m-2" @click="$router.back()" variant="outline-secondary">Cancel</b-button>
        <b-button :disabled="registeredElements.length < 1" class="m-2" type="submit" variant="outline-success">Submit</b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
  import fetchStory from '@/api/fetch';
  import VueSimpleSpinner from 'vue-simple-spinner';
  import draggable from 'vuedraggable';
  import ValidUrl from 'valid-url';

  import Tweet from '@/components/story/cards/tweet';
  import TextCard from '@/components/story/cards/textcard';
  import OpenGraph from '@/components/story/cards/opengraph';
  import Basic from '@/components/story/cards/basic';
  import YouTube from '@/components/story/cards/youtube';
  import NewElement from '@/components/story/cards/newelement';

  import Icon from 'vue-awesome/components/Icon';
  import 'vue-awesome/icons/edit';
  import 'vue-awesome/icons/trash';
  import 'vue-awesome/icons/plus';

  export default {
    name: 'NewStory',
    components: {
      VueSimpleSpinner, Icon, draggable, Tweet, TextCard, OpenGraph, YouTube, Basic, NewElement,
    },
    data() {
      return {
        elements: [{ type: 'new' }],
        story: {
          title: '',
          description: '',
        },
        elementAdded: null,
      };
    },
    computed: {
      registeredElements() {
        return this.elements.filter(element => !['new', 'edit', 'loading'].includes(element.type));
      },
      showActionButtons() {
        return this.elements.every(element => !['new', 'edit', 'loading'].includes(element.type));
      },
    },
    mounted() {
      console.log(this.elements);
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault();
        let url = '/stories';
        let method = 'POST';
        if (this.slug) {
          url = `/stories/${this.slug}`;
          method = 'PATCH';
        }

        if (this.story.body === '') {
          this.showEmptyBodyModal();
          return;
        }

        const storyToBeSent = {
          title: this.story.title,
          description: this.story.description,
          body: this.story.body,
          media: this.story.media,
          elements: this.elements.map(element => element.id),
        };
        this.showLoading = true;

        fetchStory(url, this.$store, { method, body: JSON.stringify({ story: storyToBeSent }) })
          .then((response) => {
            console.log(response);
            this.story = response.story;
            this.showLoading = false;
            if (method === 'POST') {
              this.$router.push({ name: 'Story', params: { slug: this.story.slug } });
            }
          });
      },
      avatar_url(user) {
        if (user.avatar.startsWith('http')) {
          return user.avatar;
        }
        return `${this.prefix}/files/${user.avatar}`;
      },
      removeElement(element) {
        this.elements = this.elements.filter(elementFromElements => elementFromElements !== element);
      },
      editElement(element) {
        console.log(element);
      },
      toggleAddElement(index) {
        this.elements.splice(index, 0, { type: 'new' });
      },
      saveElement(elementParam, text) {
        const element = elementParam;
        element.type = 'loading';
        const index = this.elements.indexOf(element);

        const valid = ValidUrl.is_web_uri(text);
        const type = valid ? 'url' : 'text';

        fetchStory('/elements', this.$store, { method: 'POST', body: JSON.stringify({ data: text, type }) })
          .then((response) => {
            this.elements.splice(index, 1, response);
          });
      },
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .auto-textarea-wrapper .auto-textarea-input pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
</style>
<style>
  .v-note-wrapper {
    z-index: 0 !important;
  }
</style>
