<template>
  <div>
    <b-card :img-src="`${prefix}/files/${story.media.uuid}`" img-alt="Card image" img-top
            :title="story.title" v-if="hasMedia" bg-variant="light" border-variant="dark">
      <router-link :to="{ name: 'Profile', params: { slug: story.user.slug } }">
        <b-row>
          <b-col cols="12" md="auto" v-if="story.user.avatar">
            <b-img height="50" :src="avatar_url(story.user)" rounded="circle"></b-img>
          </b-col>
          <b-col>
            <span>{{ story.user.display_name }}</span><br v-if="story.user.display_name" />
            <span class="story-author">@{{ story.user.username }}</span><span class="story-date"></span>
          </b-col>
        </b-row>
      </router-link>
      <p>{{ story.description }}</p>
      <div class="container">
        <div class="element" v-for="element in story.elements.entries">
          <tweet :tweet="element" v-if="element.type === 'tweet'" :key="element.id" />
          <text-card :text="element" v-else-if="element.type === 'text'" :key="element.id" />
          <open-graph :opengraph="element" v-else-if="element.type === 'opengraph'" :key="element.id" />
          <you-tube :youtube="element" v-else-if="element.type === 'youtube'" :key="element.id" />
          <basic :metadata="element" v-else-if="element.type === 'basic'" :key="element.id" />
        </div>
      </div>
      <b-btn @click="$router.push({ name: 'StoryEdit', params: { slug: story.slug } })" variant="outline-primary"
             class="card-action" v-if="story.user.id === $store.state.user.id">Éditer</b-btn>
      <b-btn @click="confirmDeleteStory" variant="outline-danger"
             class="card-action" v-if="story.user.id === $store.state.user.id">Supprimer</b-btn>
      <b-modal ref="deleteModal" hide-footer title="Do you really want to delete this story ?">
        <div class="d-block text-center">
          <h3>{{ story.title }} will be deleted</h3>
        </div>
        <b-btn class="mt-3" variant="outline-danger" block @click="deleteStory()">Delete Story</b-btn>
      </b-modal>
    </b-card>
    <b-card :title="story.title" v-else bg-variant="light" border-variant="dark">
      <router-link :to="{ name: 'Profile', params: { slug: story.user.slug } }">
        <b-row>
          <b-col cols="12" md="auto" v-if="story.user.avatar">
            <b-img height="50" :src="avatar_url(story.user)" rounded="circle"></b-img>
          </b-col>
          <b-col>
            <span>{{ story.user.display_name }}</span><br v-if="story.user.display_name" />
            <span class="story-author">@{{ story.user.username }}</span><span class="story-date"></span>
          </b-col>
        </b-row>
      </router-link>
      <p>{{ story.description }}</p>
      <div class="container">
        <div class="element" v-for="element in story.elements.entries" :data-element-id="element.id">
          <tweet :tweet="element.data" v-if="element.type === 'tweet'" :key="element.id" />
          <text-card :text="element.data" v-else-if="element.type === 'text'" :key="element.id" />
          <open-graph :opengraph="element" v-else-if="element.type === 'opengraph'" :key="element.id" />
          <you-tube :youtube="element" v-else-if="element.type === 'youtube'" :key="element.id" />
          <basic :metadata="element" v-else-if="element.type === 'basic'" :key="element.id" />
        </div>
      </div>
      <b-btn @click="$router.push({ name: 'EditStory', params:{ slug: story.slug } })" variant="outline-primary"
             class="card-action" v-if="story.user.id === $store.state.user.id">Éditer</b-btn>
      <b-btn @click="confirmDeleteStory" variant="outline-danger"
             class="card-action" v-if="story.user.id === $store.state.user.id">Supprimer</b-btn>
      <b-modal ref="deleteModal" hide-footer title="Do you really want to delete this story ?">
        <div class="d-block text-center">
          <h3>{{ story.title }} will be deleted</h3>
        </div>
        <b-btn class="mt-3" variant="outline-danger" block @click="deleteStory()">Delete Story</b-btn>
      </b-modal>
    </b-card>
  </div>
</template>
<script>
import fetchStory from '@/api/fetch';
import { API_HOST } from '@/api/_entrypoint';

import Tweet from '@/components/story/cards/tweet';
import TextCard from '@/components/story/cards/textcard';
import OpenGraph from '@/components/story/cards/opengraph';
import Basic from '@/components/story/cards/basic';
import YouTube from '@/components/story/cards/youtube';

export default {
  props: {
    story: {
      type: Object,
      required: true,
    },
    hasMedia: {
      type: Boolean,
    },
  },
  components: {
    Tweet, TextCard, OpenGraph, YouTube, Basic,
  },
  data() {
    return {
      prefix: API_HOST,
    };
  },
  methods: {
    confirmDeleteStory() {
      this.$refs.deleteModal.show();
    },
    deleteStory() {
      fetchStory(`/stories/${this.story.slug}`, this.$store, { method: 'DELETE' }).then(() => {
        this.$refs.deleteModal.hide();
        this.$router.push({ name: 'Stories' });
      });
    },
    avatar_url(user) {
      if (user.avatar.startsWith('http')) {
        return user.avatar;
      }
      return `${this.prefix}/files/${user.avatar}`;
    },
  },
};
</script>
<style>
  a.card-link {
    color: red;
  }
  a, a:hover {
    color: #2c3e50;
    text-decoration: none;
  }
  .story-date:before {
    content: "\00B7";
  }
</style>
