<template>
  <div>
    <div class="w-100"></div>
    <div class="card col col-lg-6">
        <div class="card-body">
            <h5 class="card-subtitle mb-2">{{ metadata.title }}</h5>
            <p class="card-text" v-if="metadata.description !== ''">{{ metadata.description }}</p>
            <a class="text-muted card-link" :href="metadata.url" target="_blank">{{ metadata.domain }}</a>
        </div>
    </div>
    <div class="w-100"></div>
  </div>
</template>
<script>
  export default {
    name: 'Metadata',
    props: ['metadata'],
  };
</script>
