<template>
  <div>
    <div class="w-100"></div>
    <div class="card">
      <textarea placeholder="Paste a link or write some text here." v-model="text" @paste="paste"></textarea>
      <div>
        <b-button variant="outline-danger" size="sm" @click="removeElement(element)"><icon name="check"></icon> Cancel</b-button>
        <b-button :disabled="text === ''" variant="outline-success" size="sm" @click="saveElement(element, text)"><icon name="check"></icon> Save</b-button>
      </div>
    </div>
    <div class="w-100"></div>
  </div>
</template>
<script>
  import Icon from 'vue-awesome/components/Icon';
  import 'vue-awesome/icons/check';

  export default {
    name: 'NewElement',
    components: { Icon },
    data() {
      return {
        text: '',
      };
    },
    props: {
      saveElement: {
        type: Function,
        required: true,
      },
      removeElement: {
        type: Function,
        required: true,
      },
      element: {
        type: Object,
        required: true,
      },
    },
    methods: {
      paste(evt) {
        const text = evt.clipboardData.getData('text');
        const regex = new RegExp(/(http(s)?:\/\/.)(www\.)?[-a-zA-Z0-9@:%._+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_+.~#?&//=]*)/gi);
        const valid = text.match(regex);
        return valid ? this.saveElement(this.element, text) : false;
      },
    },
  };
</script>
