<template>
  <div class="text-card">
    <div class="w-100"></div>
    <vue-markdown @rendered="rendered = true" ref="markdown">{{ text.text }}</vue-markdown>
    <div class="w-100"></div>
  </div>
</template>
<script>
import VueMarkdown from 'vue-markdown';

export default {
  name: 'TextCard',
  props: ['text'],
  data() {
    return {
      rendered: false,
    };
  },
  components: {
    VueMarkdown,
  },
  methods: {
    mounted() {
      const elements = this.$refs.markdown.$el;
      /* eslint-disable */
      for (const element of elements.querySelectorAll('p img')) {
        element.classList.add('img-fluid', 'rounded', 'mx-auto', 'd-block');
      }
      /* eslint-enable */
    },
  },
};
</script>
