<template>
  <div>
    <div class="w-100"></div>
    <div class="card col col-lg-6">
      <div class="row">
        <div class="col px-1" v-for="img in tweet.images">
          <clazy-load :src="img">
            <img class="card-img-top" :src="img" alt="Card image cap" slot="image" />
            <div slot="placeholder">
              Loading...
            </div>
          </clazy-load>
        </div>
        <div class="col px-1" v-for="video in tweet.videos">
          <video class="card-img-top" :src="video.video" :poster="video.preview" controls />
        </div>
      </div>
      <div class="card-body">
        <b-row align-h="between">
          <b-col>
            <b-media>
              <b-img slot="aside" :src="tweet.user.profile" :alt="`${tweet.user.username}'s avatar`" height="40" />
              <div>
                <h6 class="card-subtitle">{{ tweet.user.username }}</h6>
                <span class="text-muted"><a :href="`https://twitter.com/@${tweet.user.screen_name}`">@{{ tweet.user.screen_name }}</a></span>
              </div>
            </b-media>
          </b-col>
          <b-col col lg="1">
            <icon name="twitter"></icon>
          </b-col>
        </b-row>
        <p class="card-text" v-html="$options.filters.text_to_links(tweet.text)"></p>
        <b-row class="tweet-actions">
          <b-col><a :href="`https://twitter.com/intent/tweet?in-reply-to=${tweet.id}&related=framasoft`" target="_blank" rel="noopener noreferrer"><icon name="reply"></icon></a></b-col>
          <b-col><a :href="`https://twitter.com/intent/retweet?tweet_id=${tweet.id}&related=framasoft`" target="_blank" rel="noopener noreferrer"><icon name="retweet"></icon></a></b-col>
          <b-col><a :href="`https://twitter.com/intent/like?tweet_id=${tweet.id}&related=framasoft`" target="_blank" rel="noopener noreferrer"><icon name="heart"></icon></a></b-col>
          <b-col md="auto" cols="12"><a :href="`https://twitter.com/statuses/${tweet.id}`" class="text-muted" target="_blank">{{ parseInt(tweet.created_at) | moment("dddd, MMMM Do YYYY") }}</a></b-col>
        </b-row>
      </div>
    </div>
    <div class="w-100"></div>
  </div>
</template>
<script>
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/retweet';
import 'vue-awesome/icons/heart';
import 'vue-awesome/icons/reply';
import 'vue-awesome/icons/twitter';

export default {
  name: 'Tweet',
  props: {
    tweet: {
      type: Object,
      required: true,
    },
  },
  components: {
    Icon,
  },
};
</script>
